<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>NavBarCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>label</key>
			<string>Background</string>
			<key>cellClass</key>
			<string>ColorPickerCell</string>
			<key>defaults</key>
			<string>com.chewmieser.fancier</string>
			<key>key</key>
			<string>global.nav.background</string>
			<key>PostNotification</key>
			<string>com.chewmieser.fancier.prefs-changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>label</key>
			<string>Title</string>
			<key>cellClass</key>
			<string>ColorPickerCell</string>
			<key>defaults</key>
			<string>com.chewmieser.fancier</string>
			<key>key</key>
			<string>global.nav.title</string>
			<key>PostNotification</key>
			<string>com.chewmieser.fancier.prefs-changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>label</key>
			<string>Items</string>
			<key>cellClass</key>
			<string>ColorPickerCell</string>
			<key>defaults</key>
			<string>com.chewmieser.fancier</string>
			<key>key</key>
			<string>global.nav.items</string>
			<key>PostNotification</key>
			<string>com.chewmieser.fancier.prefs-changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>TabBarCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>label</key>
			<string>Background</string>
			<key>cellClass</key>
			<string>ColorPickerCell</string>
			<key>defaults</key>
			<string>com.chewmieser.fancier</string>
			<key>key</key>
			<string>global.tab.background</string>
			<key>PostNotification</key>
			<string>com.chewmieser.fancier.prefs-changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>label</key>
			<string>Icons</string>
			<key>cellClass</key>
			<string>ColorPickerCell</string>
			<key>defaults</key>
			<string>com.chewmieser.fancier</string>
			<key>key</key>
			<string>global.tab.icons</string>
			<key>PostNotification</key>
			<string>com.chewmieser.fancier.prefs-changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>label</key>
			<string>Selected Icons</string>
			<key>cellClass</key>
			<string>ColorPickerCell</string>
			<key>defaults</key>
			<string>com.chewmieser.fancier</string>
			<key>key</key>
			<string>global.tab.selectedicons</string>
			<key>PostNotification</key>
			<string>com.chewmieser.fancier.prefs-changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>TableViewCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>label</key>
			<string>Background</string>
			<key>cellClass</key>
			<string>ColorPickerCell</string>
			<key>defaults</key>
			<string>com.chewmieser.fancier</string>
			<key>key</key>
			<string>global.table.background</string>
			<key>PostNotification</key>
			<string>com.chewmieser.fancier.prefs-changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>label</key>
			<string>Cell Background</string>
			<key>cellClass</key>
			<string>ColorPickerCell</string>
			<key>defaults</key>
			<string>com.chewmieser.fancier</string>
			<key>key</key>
			<string>global.table.cellbackground</string>
			<key>PostNotification</key>
			<string>com.chewmieser.fancier.prefs-changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>label</key>
			<string>Cell Text Color</string>
			<key>cellClass</key>
			<string>ColorPickerCell</string>
			<key>defaults</key>
			<string>com.chewmieser.fancier</string>
			<key>key</key>
			<string>global.table.celltext</string>
			<key>PostNotification</key>
			<string>com.chewmieser.fancier.prefs-changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>label</key>
			<string>Separator</string>
			<key>cellClass</key>
			<string>ColorPickerCell</string>
			<key>defaults</key>
			<string>com.chewmieser.fancier</string>
			<key>key</key>
			<string>global.table.separator</string>
			<key>PostNotification</key>
			<string>com.chewmieser.fancier.prefs-changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Spotlight</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>label</key>
			<string>Header Background</string>
			<key>cellClass</key>
			<string>ColorPickerCell</string>
			<key>defaults</key>
			<string>com.chewmieser.fancier</string>
			<key>key</key>
			<string>springboard.spotlight.header</string>
			<key>PostNotification</key>
			<string>com.chewmieser.fancier.prefs-changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>label</key>
			<string>Results Background</string>
			<key>cellClass</key>
			<string>ColorPickerCell</string>
			<key>defaults</key>
			<string>com.chewmieser.fancier</string>
			<key>key</key>
			<string>springboard.spotlight.table</string>
			<key>PostNotification</key>
			<string>com.chewmieser.fancier.prefs-changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Control Center</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>label</key>
			<string>Background</string>
			<key>cellClass</key>
			<string>ColorPickerCell</string>
			<key>defaults</key>
			<string>com.chewmieser.fancier</string>
			<key>key</key>
			<string>springboard.cc.background</string>
			<key>PostNotification</key>
			<string>com.chewmieser.fancier.prefs-changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Notification Center</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>label</key>
			<string>Background</string>
			<key>cellClass</key>
			<string>ColorPickerCell</string>
			<key>defaults</key>
			<string>com.chewmieser.fancier</string>
			<key>key</key>
			<string>springboard.nc.background</string>
			<key>PostNotification</key>
			<string>com.chewmieser.fancier.prefs-changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Keyboard</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>label</key>
			<string>Background</string>
			<key>cellClass</key>
			<string>ColorPickerCell</string>
			<key>defaults</key>
			<string>com.chewmieser.fancier</string>
			<key>key</key>
			<string>global.keyboard.background</string>
			<key>PostNotification</key>
			<string>com.chewmieser.fancier.prefs-changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>label</key>
			<string>Key Background</string>
			<key>cellClass</key>
			<string>ColorPickerCell</string>
			<key>defaults</key>
			<string>com.chewmieser.fancier</string>
			<key>key</key>
			<string>global.keyboard.key</string>
			<key>PostNotification</key>
			<string>com.chewmieser.fancier.prefs-changed</string>
		</dict>
	</array>
	<key>title</key>
	<string>Global</string>
</dict>
</plist>
